doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Napoletano.com

		script(type='text/javascript' src='_assets/lib/jquery.min.js')
		script(type='text/javascript' src='_assets/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js')
		script(type='text/javascript' src='_js/app.js')


		link(rel='stylesheet' type='text/css' href='_assets/lib/normalize.css')
		link(rel='stylesheet' type='text/css' href='_assets/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='_assets/lib/animateEdited.css')
		link(href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet")
		//link(rel='stylesheet' type='text/css' href='_assets/lib/slick/slick.css')
		//link(rel='stylesheet' type='text/css' href='_assets/lib/slick/slick-theme.css')
		link(rel='stylesheet' type='text/css' href='_styles/stylesheet.css')
		//todo on deployment only use minified files and customize bootstrap

		include _pug/variables.jade

	body
		.container-fluid
			.sidebar.col-md-2.col-sm-12.col-xs-12
				.logo.col-md-12.col-xs-12.col-sm-12
					img(src="_assets/img/images/NapolitanoLogo.png" width= '200px')
				nav.col-md-12.col-xs-12.col-sm-12.center-block
					img.ribbon(src='_assets/img/elements/ribbon.png' width='180px')
					ul.col-xs-12.col-md-12
						li.col-xs-4.col-md-12.col-sm-12
							a(href="#pizzaCarousel").scroll-on-page-link Best Dishes
						li.col-xs-4.col-md-12.col-sm-12
							a(href="#orderOnline").scroll-on-page-link Order Online
						li.col-xs-4.col-md-12.col-sm-12
							a(href="#contactUs").scroll-on-page-link Contact us
			header.col-md-10.col-sm-12.col-xs-12
				#pizzaCarousel
					.mcPizza-inner.center-block.col-xs-12.col-sm-12.col-md-12
						button.prevBtn(aria-label="Previous")
							span.glyphicon.glyphicon-chevron-left
						//add alt attribute to each image in the carousel
						.item.activeStyle
							img(src='_assets/img/images/pepperoni-pizza.png' width= carouselItemWidth height= carouselItemHeight alt="Pepperoni Pizza")
							.shadow.center-block
						.item.next
							img(src='_assets/img/images/quttro_stegioni-pizza.png' width= carouselItemWidth height= carouselItemHeight alt="Guttro Stegioni Pizza")
							.shadow
						.item.nextNext
							img(src='_assets/img/images/pepperoni-pizza.png' width= carouselItemWidth height= carouselItemHeight alt="Pepperoni Pizza")
							.shadow
						.item.prevPrev
							img(src='_assets/img/images/quttro_stegioni-pizza.png' width= carouselItemWidth height= carouselItemHeight alt="Guttro Stegioni Pizza")
							.shadow
						.item.prev
							img(src='_assets/img/images/pepperoni-pizza.png' width= carouselItemWidth height= carouselItemHeight alt="Pepperoni Pizza")
							.shadow
						button.nextBtn(aria-label="Next")
							span.glyphicon.glyphicon-chevron-right
				h2.headerText.col-xs-12 Did you taste our
					span.dish  Pepperoni Pizza
					|  ?!
				h3.callUsText Call us on 02-5559744
			section.callOuts.col-md-9.col-md-offset-3.col-sm-12.col-xs-12
				//todo fix browser-sync display: none bug
				.ad.col-md-4.col-sm-4.col-xs-12
					img(src="http://placehold.it/200x150" width= adWidth height= adHeight)
				.ad.col-md-4.col-sm-4.col-xs-12
					img(src="http://placehold.it/200x150" width= adWidth height= adHeight)
				.ad.col-md-4.col-sm-4.col-xs-12
					img(src="http://placehold.it/200x150" width= adWidth height= adHeight)
			section#orderOnline.orderOnline.col-md-12.col-sm-12.col-xs-12
				script#handlebarsTemp(type='text/handlebars-template')
					ul#menu
						| {{#menu}}
						li
							ul(id='{{category}}').categoryList
								h3
									span {{category}}
								| {{#dishes}}
								li
								li.meal.col-md-7
									span.addBtn.glyphicon.glyphicon-plus
									| {{name}}
								li.price.col-md-5 {{price}} Dhs
								li.ingredients.col-md-12.slideInDown  {{ingredients}}
								| {{/dishes}}
						| {{/menu}}

			footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.map.col-md-6.col-sm-6.col-xs-12
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1032.8843509168178!2d54.53348440988816!3d24.334920998734056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDIwJzA1LjciTiA1NMKwMzInMDIuOCJF!5e0!3m2!1sen!2s!4v1486851847129" width="600" height="450" frameborder="0" style="border:0" allowfullscreen='')
				.contactUs#contactUs.col-md-6.col-sm-6.col-xs-12
					h2.contactUsTitle
						img.icon(src='_assets/img/elements/compass.png')
						| Contact Us
					.contactUsBreak
					p.contactUsText
						strong Location:
						|  Abu Dhabi, Musaffah Shabiya, East 10 Behind Fresh & More Super Market
						//todo check location text
					.contactUsBreak
					p.contactUsTitle.landline 02-5559744
					p.contactUsText.email info@Napolitano.com
					.contactUsBreak
					.socialMedia
						a.icon(href='#')
							img(src='_assets/img/elements/twitter.png' width='40px')
						a.icon(href='#')
							img(src='_assets/img/elements/instagram.png' width='30px')
						//todo add facebook
					p.copyrights
						span.glyphicon.glyphicon-copyright-mark
						|  Designed by
						a(href='http://omarnaser.com' target="_blank")  Omar Nasser


		//script(type='text/javascript' src="_assets/lib/slick/slick.js")
		script(type='text/javascript' src='_assets/lib/handlebars-v4.0.5.js')
		script(type='text/javascript' src='_js/handlebarsTasks.js')




