doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title Napolitano.com

		link(rel='stylesheet' type='text/css' href='_assets/lib/normalize.css')
		link(rel='stylesheet' type='text/css' href='_styles/stylesheet.css')

		script(type='text/javascript' src='_assets/lib/jquery.min.js')
		script(type='text/javascript' src='_js/app.js')


	body
		.container
			.sidebar
				.logo
					img(src="_assets/img/images/pizzaTray.png" width= '150px')
					h1.title Napolitano
				nav
					ul
						li
							a(href="#1").scroll-on-page-link Our Best Dishes
						li
							a(href="#2").scroll-on-page-link Order Online
						li
							a(href="#3").scroll-on-page-link Contact us
			header
