* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container-fluid {
  padding: 0;
  margin: 0;
  background-image: radial-gradient(closest-side, #FF7F32, #e60000 750px); }

.sidebar .logo h1.title {
  padding: 0 0 20px 0;
  margin: 0;
  font-variant: all-small-caps;
  font-family: Trattatello;
  font-size: 42px; }
.sidebar nav {
  position: relative; }
  .sidebar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    font-family: "Snell Roundhand";
    font-weight: bolder;
    position: absolute;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%; }
    .sidebar nav ul li {
      margin: 20px 0;
      text-align: center; }
    .sidebar nav ul a {
      text-decoration: none;
      color: #e60000; }
    .sidebar nav ul a:hover {
      text-decoration: none;
      font-size: 1.3em; }
    .sidebar nav ul a:visited {
      text-decoration: none; }

header .headerText {
  padding: 15px;
  font-family: "Snell Roundhand";
  font-size: 42px;
  font-weight: bolder;
  text-align: center; }
header .callUsText {
  font-family: Impact;
  font-size: 32px;
  text-align: center; }

#pizzaCarousel .carousel-inner .item img {
  filter: blur(3px); }
#pizzaCarousel .carousel-inner .item.active img {
  filter: none;
  height: 300px;
  width: 360px; }
#pizzaCarousel .carousel-inner a.carousel-control {
  background: none; }

.scroll-on-page-link {
  display: block;
  outline: none; }

section.callOuts {
  height: 160px;
  padding: 30px 0; }
  section.callOuts .ad {
    position: relative; }
    section.callOuts .ad img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }

section.orderOnline {
  height: 800px; }
  section.orderOnline ul li {
    list-style: none; }
  section.orderOnline .categoryList {
    padding: 20px 0;
    height: 200px;
    /*.meal:hover + .price + .ingredients
     * color: white
     * display: block */ }
    section.orderOnline .categoryList h3 {
      display: inline-block;
      background-color: white;
      padding: 0 10px;
      color: transparent;
      font-family: Impact;
      font-variant: small-caps;
      font-size: 32px;
      box-shadow: 0 1px 1px 1px black;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg);
      position: relative; }
      section.orderOnline .categoryList h3 span {
        background-image: radial-gradient(closest-side, #FF7F32, #e60000 750px);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -15%); }
    section.orderOnline .categoryList li.meal span.glyphicon {
      padding: 5px; }
    section.orderOnline .categoryList li.ingredients {
      display: none;
      padding: 5px 15px 10px 30px; }

footer.col-md-12, footer.col-sm-12 {
  padding: 0; }

footer {
  padding: 0;
  height: 450px;
  overflow: hidden; }
  footer .map {
    padding: 0; }
    footer .map iframe {
      width: 100%;
      height: 450px; }
  footer .contactUs {
    padding: 10px 0 25px;
    height: 450px;
    background-color: #404343; }
    footer .contactUs .contactUsTitle {
      color: white;
      font-family: Impact, sans-serif;
      letter-spacing: 1.5px;
      font-size: 2.5em; }
      footer .contactUs .contactUsTitle .icon {
        width: 70px;
        margin: 0 20px 0 30px; }
    footer .contactUs .contactUsTitle.Landline {
      margin: 5px 30px 5px 120px; }
    footer .contactUs .contactUsText {
      color: white;
      font-family: Gurmukhi MN, sans-serif;
      font-weight: lighter;
      font-size: 20px;
      margin: 5px 30px 5px 120px; }
    footer .contactUs .contactUsBreak {
      border-bottom: 1px solid #95989A;
      margin: 30px 0 30px 120px;
      width: 250px; }
    footer .contactUs .socialMedia {
      padding: 0 60px;
      margin: -30px 0 0 0; }
      footer .contactUs .socialMedia .icon {
        float: right;
        padding: 5px; }

/*# sourceMappingURL=stylesheet.css.map */
