@import "bourbon/bourbon"
//@import "neat/neat"
@import "fonts"
@import "default"
@import "mixins"

$greyDark: #404343
$redDark: #e60000

=test()
  border: 1px solid chartreuse

.container-fluid
  padding: 0
  margin: 0
  //background-image: radial-gradient(closest-side, #f7931e, #f15a24 750px)
  background-image: radial-gradient(closest-side, #FF7F32, #e60000 750px)

.sidebar
  .logo
    h1.title
      padding: 0 0 20px 0
      margin: 0
      font-variant: all-small-caps
      font-family: Trattatello
      font-size: 42px

  nav
    position: relative
    ul
      padding: 0
      margin: 0
      list-style: none
      font-size: 14px
      font-family: "Snell Roundhand"
      font-weight: bolder
      position: absolute
      text-decoration: none
      +center()
      top: 40%
      li
        margin: 20px 0
        text-align: center
      li:hover
      a
        text-decoration: none
        color: $redDark
      a:hover
        text-decoration: none
        font-size: 1.3em
      a:visited
        text-decoration: none



header
  margin-bottom: 50px
  .headerText
    padding: 15px
    margin: 50px 0 30px 0
    font-family: "Snell Roundhand"
    font-size: 42px
    font-weight: bolder
    text-align: center
  .callUsText
    font-family: Impact
    font-size: 38px
    text-align: center
    margin: 0



#pizzaCarousel
  .mcPizza-inner
    width: 800px
    padding: 30px 10px
    height: 400px
    position: relative
    .slick-arrow
      top: 85%
      z-index: 11
    .slick-prev
      left: 130px
    .slick-next
      right: 130px
    .slick-list
      .slick-track
        height: 400px
        .slick-slide
          img
            +center-h()
            position: relative
            top: 25%
            filter: blur(3px)
        .activeStyle
          z-index: 10
          position: relative
          img
            width: 360px
            height: 300px
            filter: none
            +center-h()
            position: relative
            top: 25%
        .firstLevelStyle
          img
            top: 40%
        .secondLevelStyle
          img
            top: 30%
        .secondLevelStyle.left
          img
            left: 60%
        .secondLevelStyle.right
          img
            left: 40%

.scroll-on-page-link
  display: block
  outline: none

section.callOuts
  height: 160px
  padding: 30px 0
  .ad
    position: relative
    img
      +center-h()

section.orderOnline
  height: 1600px
  //background-color: #8c8c8c
  ul
    li
      list-style: none
  ul#menu
    display: flex
    -ms-flex-direction: row
    -webkit-flex-direction: row
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    -ms-flex-wrap: wrap
    -webkit-flex-wrap: wrap
    flex-wrap: wrap


  .categoryList
    padding: 20px 0
    //height: 400px
    width: 300px

    h3
      display: inline-block
      background-color: white
      padding: 0 10px
      color: transparent
      font-family: Impact
      font-variant: small-caps
      font-size: 32px
      box-shadow: 0 1px 1px 1px black
      -webkit-transform: skew(-20deg)
      -moz-transform: skew(-20deg)
      -o-transform: skew(-20deg)
      transform: skew(-20deg)
      position: relative
      span
        background-image: radial-gradient(closest-side, #FF7F32, #e60000 750px)
        background-attachment: fixed
        -webkit-text-fill-color: transparent
        -webkit-background-clip: text
        display: block
        //todo text shouldn't be skewed
        position: relative
        top: 50%
        left: 50%
        transform: translate(-50%, -15%)
        //todo text-shadow: 0 1px 0 black inset



    li.meal
      //todo edit the fonts
      span.glyphicon
        padding: 5px

    li.price

    li.ingredients
      display: none
      padding: 5px 15px 10px 30px





footer.col-md-12, footer.col-sm-12
  padding: 0
footer
  padding: 0
  height: 450px
  overflow: hidden
  .map
    padding: 0
    iframe
      width: 100%
      height: 450px
  .contactUs
    padding: 10px 0 25px
    height: 450px
    background-color: $greyDark
    //height: 450px
    .contactUsTitle
      color: white
      font-family: Impact, sans-serif
      letter-spacing: 1.5px
      font-size: 2.5em
      //padding: 0 20px
      .icon
        width: 70px
        margin: 0 20px 0 30px
    .contactUsTitle.Landline
      margin: 5px 30px 5px 120px
    .contactUsText
      color: white
      font-family: Gurmukhi MN, sans-serif
      font-weight: lighter
      font-size: 20px
      margin: 5px 30px 5px 120px
      //todo change to a suitable font

    .contactUsBreak
      border-bottom: 1px solid #95989A
      margin: 30px 0 30px 120px
      width: 250px
    .contactUsBreak:nth-child(2)
      //margin-bottom: 10px
      //todo edith margins like mockup
    .socialMedia
      padding: 0 60px
      margin: -30px 0 0 0
      .icon
        float: right
        padding: 5px








// Based on code by http://codepen.io/xmark/
