footer.col-lg-12.col-md-12.col-sm-12.col-xs-12
   .map.col-md-6.col-sm-6.col-xs-12
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1032.8843509168178!2d54.53348440988816!3d24.334920998734056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDIwJzA1LjciTiA1NMKwMzInMDIuOCJF!5e0!3m2!1sen!2s!4v1486851847129" width="600" height="450" frameborder="0" style="border:0" allowfullscreen='')
   .contactUs#contactUs.col-md-6.col-sm-6.col-xs-12
      h2.contactUsTitle
         img.icon(src='_assets/img/elements/compass.png')
         | Contact Us
      .contactUsBreak
      p.contactUsText
         strong Location:
         |  Abu Dhabi, Musaffah Shabiya, East 10 Behind Fresh & More Super Market
         //todo check location text
      .contactUsBreak
      p.contactUsTitle.landline 02-5559744
      p.contactUsText.email info@Napolitano.com
      .contactUsBreak
      .socialMedia
         a.icon(href='#')
            img(src='_assets/img/elements/twitter.png' width='40px')
         a.icon(href='#')
            img(src='_assets/img/elements/instagram.png' width='30px')
         //todo add facebook
      p.copyrights
         span.glyphicon.glyphicon-copyright-mark
         |  Designed by
         a(href='http://omarnaser.com' target="_blank")  Omar Nasser