meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')

script(type='text/javascript' src='_assets/lib/jquery.min.js')
script(type='text/javascript' src='_assets/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js')
script(type='text/javascript' src='_js/app.js')

link(rel='stylesheet' type='text/css' href='_assets/lib/normalize.css')
link(rel='stylesheet' type='text/css' href='_assets/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='_assets/lib/animateEdited.css')
link(href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet")
link(rel='stylesheet' type='text/css' href='_styles/stylesheet.css')
//todo on deployment only use minified files and customize bootstrap
