.sidebar.col-md-2.col-sm-12.col-xs-12
   .logo.col-md-12.col-xs-12.col-sm-12
      img(src="_assets/img/images/NapolitanoLogo.png" width= '200px')
   nav.col-md-12.col-xs-12.col-sm-12.center-block
      img.ribbon(src='_assets/img/elements/ribbon.png' width='180px')
      ul.col-xs-12.col-md-12
         li.col-xs-4.col-md-12.col-sm-12
            a(href="#pizzaCarousel").scroll-on-page-link Best Dishes
         li.col-xs-4.col-md-12.col-sm-12
            a(href="#orderOnline").scroll-on-page-link Order Online
         li.col-xs-4.col-md-12.col-sm-12
            a(href="#contactUs").scroll-on-page-link Contact us